<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='icon' href='./img/bitbug_favicon.ico ' type='image/x-ico' />
  <title>blog 文章详情</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
  <!-- less   -   style -->
  <link rel="stylesheet" href="./less/article.less" type="text/less">
  <!-- css    -   style -->
  <!-- <link rel="stylesheet" href="./less/article.css"> -->
  <!-- jquery -->
  <script src="./assets/jquery/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- less -->
  <script src="./assets/less/less.min.js"></script>
  <script>
    less.watch()
  </script>
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <section class="nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <a href="javescript:;">Home</a>
        </div>
        <div class="col-xs-3">
          <a href="javescript:;">About</a>
        </div>
        <div class="col-xs-7">
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="main col-xs-9">
        <div class="article">
          <h2 class="title">One Day</h2>
          <p>这几年，前端技术发展很快，每年都有新的技术名词流行，ReactJS、Angular 2、VUE、微信小程序。。。而我重新学习了 swift ，是的，重新学习，之前读过《swift 1.0 从入门到放弃》。</p>
          <p>想起当年学习前端开发的经历，我开始写一些实际的小 app 来练手，总算是没有又一次『从入门到放弃』</p>
          <p>有一天突然想到，每一天不管开心还是难过，不管是平淡还是难忘，都要过的有意义——从来不写日记的我第一次想每天花几分钟记录一下自己的一天了。（日记？上个世纪的东西了吧？！）</p>
          <p>于是就尝试了各种 app，记事类的、日记类的。却发现每个 app 都想做的很完美，带上各种功能，需要的不需要的全都有，干扰的东西太多。。。</p>
          <p>我只想一个单纯的记录自己每一天的 app，几张图片，一段文字，最多再加上一个地理位置，嗯，真实的自己，只有自己能看到，也不用担心有没有人点赞。</p>
          <p>干脆就自己用 swift 写一个吧：One Day.</p>
          <p>有一天正在听最喜欢的《One Day》，嗯，海贼王中艾斯被行刑的那一段的主题曲，这段剧情也是海贼王中给我感受最深的一段。于是 App 的名字就叫 One Day 了。</p>
          <p>One Day 的目标就只有一个：记录『最真实的自己』。所以从一开始就完全抛弃了社交和分享的功能。</p>
        </div>
        <!-- 作者 -->
        <div class="author">
          <div class="avatar">
            <a href="">
              <img src="./img/h1.jpg" alt="">
            </a>
          </div>
          <div class="wrap-box">
            <!-- 个人资料 -->
            <div class="meta">
              <h4 class="name">
                Amor
              </h4>
              <p class="intro">念念不忘，必有回响！</p>
            </div>
          </div>
        </div>
      </div>
      <div class="list col-md-3 hidden-sm hidden-xs">
        <div class=" about">
          <h1>About ME</h1>
          <img src="./img/h.jpg" alt="">
          <p>
            <br> 和你想的不一样的叫生活
            <br> 和你想的一样的叫童话
            <br> 沉溺在我的代码世界中不可自拔
          </p>
          <div class="icon">
            <a target="_blank" href="http://weibo.com/SunnyAmor">
              weibo
            </a>
            <a target="_blank" href="https://github.com/AmorRui">
              gitHub
            </a>
          </div>
        </div>
        <div class="  biaotilist ">
          <h1>热门文章</h1>
          <a href="javescript:;">WeUI 发布——微信官方UI库</a>
          <a href="javescript:;">WeUI 发布——微信官方UI库</a>
          <a href="javescript:;">WeUI 发布——微信官方UI库</a>
        </div>
      </div>
    </div>

  </section>
</body>

</html>